[data-theme="1"] {
  /* Backgrounds */
  --bg-color: hsl(222, 26%, 31%);
  --bg-secondary-color: hsl(223, 31%, 20%);
  --screen-bg-color: hsl(224, 36%, 15%);
  /*Del&Reset Keys */
  --key-dark-bg-color: hsl(225, 21%, 49%);
  --key-dark-shadow-color: hsl(224, 28%, 35%);
  /* Toggle&equal Keys */
  --key-bg-color-toggle: hsl(6, 63%, 50%);
  --key-shadow-color-toggle: hsl(6, 70%, 34%);
  /* Number Keys */
  --key-light-bg-color: hsl(0, 0%, 90%);
  --key-light-shadow-color: hsl(28, 16%, 65%);
  /* Text Colors */
  --text-secondary-color: hsl(221, 14%, 31%);
  --text-white-color: hsl(0, 100%, 100%);
  --text-color: var(--text-white-color);
  --text-equal-color: var(--text-white-color);

  --toggle-left-position: 3px;
}

[data-theme="2"] {
  /* Backgrounds */
  --bg-color: hsl(0, 0%, 90%);
  --bg-secondary-color: hsl(0, 5%, 81%);
  --screen-bg-color: hsl(0, 0%, 93%);
  /*Del&Reset Keys */
  --key-dark-bg-color: hsl(185, 42%, 37%);
  --key-dark-shadow-color: hsl(185, 58%, 25%);
  /* Toggle&equal Keys */
  --key-bg-color-toggle: hsl(25, 98%, 40%);
  --key-shadow-color-toggle: hsl(25, 99%, 27%);
  /* Number Keys */
  --key-light-bg-color: hsl(0, 0%, 90%);
  --key-light-shadow-color: hsl(35, 11%, 61%);
  /* Text Colors */
  --text-color: hsl(60, 10%, 19%);
  --text-secondary-color: var(--text-color);
  --text-white-color: hsl(0, 100%, 100%);
  --text-equal-color: var(--text-white-color);

  --toggle-left-position: 16.75px;
}

[data-theme="3"] {
  /* Backgrounds */
  --bg-color: hsl(268, 75%, 9%);
  --bg-secondary-color: hsl(268, 71%, 12%);
  --screen-bg-color: hsl(268, 71%, 12%);
  /*Del&Reset Keys */
  --key-dark-bg-color: hsl(281, 89%, 26%);
  --key-dark-shadow-color: hsl(285, 91%, 52%);
  /* Toggle&equal Keys */
  --key-bg-color-toggle: hsl(176, 100%, 44%);
  --key-shadow-color-toggle: hsl(177, 92%, 70%);
  /* Number Keys */
  --key-light-bg-color: hsl(268, 47%, 21%);
  --key-light-shadow-color: hsl(290, 70%, 36%);
  /* Text Colors */
  --text-color: hsl(52, 100%, 62%);
  --text-secondary-color: var(--text-color);
  --text-white-color: hsl(0, 100%, 100%);
  --text-equal-color: hsl(198, 20%, 13%);

  --toggle-left-position: 34px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  font-family: inherit;
  font-weight: inherit;
  border-radius: inherit;
}

::selection {
  background-color: var(--key-bg-color-toggle);
  color: var(--text-equal-color);
}

body {
  display: flex;
  font-family: "League Spartan", sans-serif;
  font-weight: 700;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-color);
  min-height: 100vh;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

.calculator {
  width: min(30rem, 100% - 2rem);
  overflow: hidden;
}

.calculator,
main {
  display: flex;
  flex-direction: column;
  gap: 1.125rem;
}

header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  color: var(--text-color);

  h1 {
    font-size: 1.563rem;
  }

  .theme-switcher {
    display: flex;
    align-items: flex-end;
    gap: 1.25rem;
    font-size: 0.625rem;
    font-weight: 400;

    > span {
      margin-bottom: 0.28125rem;
    }

    .theme-numbers {
      display: flex;
      justify-content: space-around;
      margin-bottom: 0.188rem;
    }

    .theme-toggle {
      background-color: var(--bg-secondary-color);
      width: 3rem;
      height: 1.063rem;
      border-radius: 0.813rem;
      position: relative;
      cursor: pointer;

      &&:focus-visible {
        outline: 2px solid var(--key-bg-color-toggle);
      }

      .toggle-indicator {
        background-color: var(--key-bg-color-toggle);
        width: 0.688rem;
        height: 0.688rem;
        border-radius: 50%;
        position: absolute;
        top: calc(50% - 0.344rem);
        left: var(--toggle-left-position);
        transition: left 0.3s ease;
      }
    }
  }
}

main {
  .display {
    font-size: 2.188rem;
    background-color: var(--screen-bg-color);
    color: var(--text-color);
    padding: 1.75rem;
    border-radius: 0.438rem;
    text-align: right;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .keypad {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: clamp(0.938rem, 2.5vw, 1.375rem);
    padding: 1.438rem;
    border-radius: 0.438rem;
    background-color: var(--bg-secondary-color);

    button {
      background-color: var(--key-light-bg-color);
      box-shadow: 0px 0.25rem 0px var(--key-light-shadow-color);
      color: var(--text-secondary-color);
      font-size: clamp(1.063rem, 6vw, 2.188rem);
      padding-inline-end: clamp(0px, 0.125rem, 1.25rem);
      padding-block-start: clamp(0.875rem, 1vw, 0.5rem);
      padding-block-end: clamp(0.438rem, 0.5vw, 0.188rem);
      cursor: pointer;

      &&:focus-visible {
        outline: 2px solid var(--key-bg-color-toggle);
      }
    }

    .btn-navy {
      background-color: var(--key-dark-bg-color);
      box-shadow: 0px 0.25rem 0px var(--key-dark-shadow-color);
      color: var(--text-white-color);
    }

    .btn-delete,
    .btn-equals,
    .btn-reset {
      font-size: 1.125rem;
    }

    .btn-reset,
    .btn-equals {
      grid-column: span 2;
      padding: 0.75rem;
    }

    .btn-equals {
      background-color: var(--key-bg-color-toggle);
      box-shadow: 0px 0.25rem 0px var(--key-shadow-color-toggle);
      color: var(--text-equal-color);
    }
  }
}

@media (prefers-reduced-motion: reduce) {
  * {
    transition: none !important;
  }
}